# Pandas documentation

In [4]:
import pandas as pd
import numpy as np
import os

In [5]:
# Can read from common data structures of Python
# Adjusts the size based upon array size
book_data = dict({"title":"Animal Farm","author":"George Orwell", "pub":[1962,1964,1970]})
book_df = pd.DataFrame(book_data)
book_df

         title         author   pub
0  Animal Farm  George Orwell  1962
1  Animal Farm  George Orwell  1964
2  Animal Farm  George Orwell  1970

In [ ]:
# note that if arrays used they should be of same length
user_data = dict({"name":["user 1", "user 2"], "dob":[1962,1964,1970]})
# throws error
user_df = pd.DataFrame(user_data)

In [6]:
dates = pd.date_range('03/18/2020', periods=8)
time_series_df = pd.DataFrame(np.random.randn(8,4), index = dates, columns = ['A','B', 'C', 'D'])
time_series_df.head()

                   A         B         C         D
2020-03-18 -2.846136 -0.897701  1.442592 -0.980046
2020-03-19 -1.638938 -0.508938 -0.208703 -0.283996
2020-03-20  1.781347  0.844328  1.062893 -0.114830
2020-03-21  1.854872  0.390251  0.076338 -0.223533
2020-03-22  0.561635  0.009804 -0.330108  0.024293

In [7]:
print(time_series_df.loc[dates.array[1],'A'])
print(time_series_df[['B']][:5:2])
time_series_df.loc['20200318':'20200322']

-1.6389377471695767
                   B
2020-03-18 -0.897701
2020-03-20  0.844328
2020-03-22  0.009804

                   A         B         C         D
2020-03-18 -2.846136 -0.897701  1.442592 -0.980046
2020-03-19 -1.638938 -0.508938 -0.208703 -0.283996
2020-03-20  1.781347  0.844328  1.062893 -0.114830
2020-03-21  1.854872  0.390251  0.076338 -0.223533
2020-03-22  0.561635  0.009804 -0.330108  0.024293

In [8]:
print(time_series_df.head(2))
# to swap in place
time_series_df[['A','B']] = time_series_df[['B','A']]
print(time_series_df.head(2))
# does not swap the order
time_series_df.loc[:,['B','A']] = time_series_df[['A','B']]
print(time_series_df.head(2))
# swapping by raw values
time_series_df[['A','B']] = time_series_df[['B','A']].to_numpy()
print(time_series_df.head(2))

A         B         C         D
2020-03-18 -2.846136 -0.897701  1.442592 -0.980046
2020-03-19 -1.638938 -0.508938 -0.208703 -0.283996
                   A         B         C         D
2020-03-18 -0.897701 -2.846136  1.442592 -0.980046
2020-03-19 -0.508938 -1.638938 -0.208703 -0.283996
                   A         B         C         D
2020-03-18 -0.897701 -2.846136  1.442592 -0.980046
2020-03-19 -0.508938 -1.638938 -0.208703 -0.283996
                   A         B         C         D
2020-03-18 -2.846136 -0.897701  1.442592 -0.980046
2020-03-19 -1.638938 -0.508938 -0.208703 -0.283996

In [9]:
# create a copy
time_series_df_copy = time_series_df.copy()
# if column already exists
time_series_df_copy.A = range(len(time_series_df_copy.A))
# if new column
time_series_df_copy['E'] = np.random.random_integers(1,10,len(time_series_df_copy.A))
time_series_df_copy.head()

            A         B         C         D  E
2020-03-18  0 -0.897701  1.442592 -0.980046  4
2020-03-19  1 -0.508938 -0.208703 -0.283996  3
2020-03-20  2  0.844328  1.062893 -0.114830  6
2020-03-21  3  0.390251  0.076338 -0.223533  7
2020-03-22  4  0.009804 -0.330108  0.024293  6

In [10]:
print(time_series_df_copy.iloc[[1,3,4],[1,2,3]])
time_series_df_copy.loc['20200318':'20200322':2,'A':'D':2]

B         C         D
2020-03-19 -0.508938 -0.208703 -0.283996
2020-03-21  0.390251  0.076338 -0.223533
2020-03-22  0.009804 -0.330108  0.024293

            A         C
2020-03-18  0  1.442592
2020-03-20  2  1.062893
2020-03-22  4 -0.330108

In [11]:
print(time_series_df_copy.xs('D',1))
print(time_series_df_copy.xs('20200318'))

2020-03-18   -0.980046
2020-03-19   -0.283996
2020-03-20   -0.114830
2020-03-21   -0.223533
2020-03-22    0.024293
2020-03-23    1.466298
2020-03-24    1.623935
2020-03-25    1.662111
Freq: D, Name: D, dtype: float64
A    0.000000
B   -0.897701
C    1.442592
D   -0.980046
E    4.000000
Name: 2020-03-18 00:00:00, dtype: float64

In [12]:
s1 = pd.Series(np.random.randn(6), index=list('abcdef'))
#integer based indexing
print(s1.iloc[2])
print(s1.iat[2])
#note both start and end are included
s1.loc[:'d']

-1.745694162636437
-1.745694162636437

a   -0.622970
b   -1.064992
c   -1.745694
d    0.708849
dtype: float64

In [13]:
cwd = os.getcwd()
data_path = os.path.join(cwd,"datasets/Advertising.csv")
advert_df = pd.read_csv(data_path)

In [14]:
advert_df.head(2)

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4

In [15]:
advert_df.tail(2)

     Unnamed: 0     TV  radio  newspaper  sales
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [16]:
advert_df.describe()

       Unnamed: 0          TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [17]:
#python-like retrieval
#column-row
print(advert_df['TV'][2])

#efficient-retrieval:
print(advert_df.iat[2,1])
print(advert_df.loc[2,'TV'])
print(advert_df.at[2,'TV'])

17.2
17.2
17.2
17.2

In [18]:
print(advert_df.sum())
print(advert_df.max())
print(advert_df.mean())
print(advert_df.sub(advert_df))

Unnamed: 0    20100.0
TV            29408.5
radio          4652.8
newspaper      6110.8
sales          2804.5
dtype: float64
Unnamed: 0    200.0
TV            296.4
radio          49.6
newspaper     114.0
sales          27.0
dtype: float64
Unnamed: 0    100.5000
TV            147.0425
radio          23.2640
newspaper      30.5540
sales          14.0225
dtype: float64
     Unnamed: 0   TV  radio  newspaper  sales
0             0  0.0    0.0        0.0    0.0
1             0  0.0    0.0        0.0    0.0
2             0  0.0    0.0        0.0    0.0
3             0  0.0    0.0        0.0    0.0
4             0  0.0    0.0        0.0    0.0
..          ...  ...    ...        ...    ...
195           0  0.0    0.0        0.0    0.0
196           0  0.0    0.0        0.0    0.0
197           0  0.0    0.0        0.0    0.0
198           0  0.0    0.0        0.0    0.0
199           0  0.0    0.0        0.0    0.0

[200 rows x 5 columns]

In [19]:
def normalize(feature_series):
    min_val = feature_series.min()
    max_val = feature_series.max()
    return feature_series.apply(lambda val,min_val,max_val: (val-min_val)/(max_val-min_val),
     args=(min_val, max_val))

advert_df_normalised = advert_df.apply(normalize, axis=0)